@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        @ViewBag.msg
        
        @if (TempData["Msg"] != null)
        {
            @TempData["Msg"].ToString()
            TempData.Keep("Msg");
        }

        <div>
            @using (@Html.BeginForm("Insert", "Home"))
            {
                <table>
                    <tr>
                        <td>Enter Department Name:</td>
                        <td>@Html.TextBox("Name")</td>
                    </tr>
                    <tr>
                        <td>Enter HOD Name:</td>
                        <td>@Html.TextBox("HOD")</td>
                    </tr>
                    <tr>
                        <td>Select Gender</td>
                        <td>
                            @Html.RadioButton("Gender", "M",true)<span>Male</span>
                            @Html.RadioButton("Gender", "F", false)<span>Female</span>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="Submit" type="submit" value="submit" />
                            <input id="Reset" type="reset" value="reset" />
                        </td>
                    
                    </tr>
                </table>
            }
        </div>
            @Html.ActionLink("Go to Test", "Test", "Home")
        <div>
            
        </div>
    </body>
</html>
